<h1>Book Lists ðŸ“œ</h1>

<%= link_to("ðŸ“ Add a new list", new_list_path, :class => 'action new')%>

<table>
  <tr>
    <th>Title</th>
    <th>Number of books</th>
    <th>Actions</th>
  </tr>
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= list.books.length() %></td>
      <td>
        <%= link_to("ðŸ”", list_path(list), :class => 'action show')%>
      </td>
    </tr>
  <% end %>
</table>
