<%= link_to('< Back to authors 🪶', authors_path, :class => 'back_button')%>

<h1><%= "#{@author.first_name} #{@author.surname}" %></h1>

<h2>Books</h2>

<%= render(:partial => 'books/gallery', :locals => {books: @author.books})%>


